.para{
    text-align: justify;
    line-height: 1.5;
    padding: 12px;
}

.image-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}

.image-row img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}